.carousel-container {
    position: relative;
    width: 100%;
}

.carousel-wrapper {
    position: relative;
    height: 56vh; /* Điều chỉnh chiều cao phù hợp */
    overflow: hidden;
}

.carousel-item {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.carousel-item img {
    display: block;
    width: 100%;
}

.carousel-item.active {
    display: block;
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.indicator {
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.indicator.active {
    background-color: white;
}

.indicator:hover {
    background-color: white; /* Màu nền khi hover qua indicator */
}

.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
    background-color: rgba(255, 255, 255, 0.5); /* Màu nền khi hover qua nút điều khiển */
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

.carousel-control-prev span, .carousel-control-next span {
    font-size: 20px;
    color: black; /* Màu chữ */
}

.carousel-control-prev:hover span, .carousel-control-next:hover span {
    color: white; /* Màu chữ khi hover qua nút điều khiển */
}
